@mixin borderRadius ($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  border-radius:         $radius;
  zoom: 1;
}

@mixin clearFix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin hideText {
  color: transparent;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

@mixin transform ($transforms...) {
  -webkit-transform: $transforms;
  -moz-transform:    $transforms;
  -ms-transform:     $transforms;
  -o-transform:      $transforms;
  transform:         $transforms;
}
