// Colors
$orange: #F86632;
$green: #82C557;
$blue: #85B9E5;
$red: #D94F4E;
$gray: #6D6E70;
$lightGray: #F1F1F2;

// Common Measures
$siteWidth: 1228px;
$gutter: 30px;

// Font stacks
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$roboto: 'Roboto', $helvetica;
$robotoSlab: 'Roboto Slab', $helvetica;
